{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "target": "es2021",
    "transform": {
      "react": {
        "runtime": "automatic",
        "refresh": true
      }
    }
  },
  "module": {
    "type": "es6"
  }
}
